#teste{
    width: 400px;
    height: 200px;
    background-image: url(icons.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
input[type="text"] {
    border: 2px solid #456879;
    border-radius: 10px;
    height: 22px;
    width: 230px;
}
input[type="button"] {
    background:rgb(218, 135, 135) url(icons8.png.png) no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    border:1px solid #CCCCCC;
    border-radius: 10px;
    width:230px;
    height:25px;
}
#date_time {
    color: blueviolet; /*violet*/
  }